
.center{
	margin: 0 auto;
}
.size-row{
	width:60%;
}
  body{
	width:600px;
  }
  h2 {
	font-family: Lobster, Monospace;
  }

  .thick-green-border {
	border: green 10px solid;
	border-radius: 50%;
  }
